<div class="my-3 p-0 bg-white shadow-sm rounded-xl">
    <h6 class="border-bottom border-gray p-3 mb-0">
        Educational Publication
    </h6>
    {% for item in site.data.education_track %}
    <div class="p-3 {% unless forloop.last %}border-bottom border-gray{% endunless %}">
        <div>{{ item.title }}</div>
        <p class="mt-0 mb-0 small">{% include widgets/author_list.html authors=item.authors %}</p>
        <p class="mt-0 mb-0 small"><i>{{ item.venue }}</i></p>
    </div>
    {% endfor %}
</div>
