<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% if site.data.profile.experience %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Research Experience</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.experience %}
                                <li class="media mb-1">
                                    {% if item.logo %}
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" class="entry-logo mr-1 mt-1">
                                    {% endif %}
                                    <div class="media-body">
                                        <div>{% if item.url %}<a target="_blank" href="{{ item.url }}">{{ item.name }}</a>{% else %}{{ item.name }}{% endif %}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                        {% if item.advisor_name %}
                                        <div class="small">
                                            Advisor:
                                            {% if item.advisor_url %}
                                            <a target="_blank" href="{{ item.advisor_url }}">{{ item.advisor_name }}</a>
                                            {% else %}
                                            {{ item.advisor_name }}
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        {% if item.details %}
                                        <ul class="small pl-3 mb-1">
                                            {% for detail in item.details %}
                                            <li>{{ detail }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.projects %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Projects</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.projects %}
                                <li class="media mb-1">
                                    {% if item.logo %}
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" class="entry-logo mr-1 mt-1">
                                    {% endif %}
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                        {% if item.details %}
                                        <ul class="small pl-3 mb-1">
                                            {% for detail in item.details %}
                                            <li>{{ detail }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>

                    {% if site.data.profile.industry_experience %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Other Experience</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.industry_experience %}
                                <li class="media mb-1">
                                    {% if item.logo %}
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" class="entry-logo mr-1 mt-1">
                                    {% endif %}
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                        {% if item.dept %}
                                        <div class="small">{{ item.dept }}</div>
                                        {% endif %}
                                        {% if item.details %}
                                        <ul class="small pl-3 mb-1">
                                            {% for detail in item.details %}
                                            <li>{{ detail }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.teaching %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Teaching</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.teaching %}
                                <li class="media mb-1">
                                    {% if item.logo %}
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" class="entry-logo mr-1 mt-1">
                                    {% endif %}
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                        {% if item.details %}
                                        <ul class="small pl-3 mb-1">
                                            {% for detail in item.details %}
                                            <li>{{ detail }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>

{% if site.data.profile.awards %}
<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="mx-2 my-1">
                    <h6>Honors & Awards</h6>
                    <ul class="list-unstyled mb-1">
                        {% for item in site.data.profile.awards %}
                        <li class="media mb-1">
                            {% if item.logo %}
                            <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" class="entry-logo mr-1 mt-1">
                            {% endif %}
                            <div class="media-body">
                                <div class="d-flex">
                                    <div>{{ item.name }}</div>
                                    <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                </div>
                                {% if item.organization %}
                                <div class="small">{{ item.organization }}</div>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
